* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

:root {
    --orange: #cb7c3a;
    --teal: #3A89CB;
    --cream: #F7F2D0;
}

.logo {
    max-width: 150px;
    margin-right: 2em;
}

.logo-link {
    display: block;
    padding-left: 0;
}

.mobile-logo, 
.mobile-logo-link {
    display: none;
}

.mobile-title {
    display: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5% 10px 0;
    width: 100%;
    background-color: white;
    opacity: 95%;
}

.logo {
    max-width: 250px;
    padding: 0;
    margin: 0;
    height: auto;
    display: block;
}

.logo-link {
    max-width: 250px;
    height: auto;
    display: block;
}

.navbar a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#links {
    display: flex;
    gap: 25px;
}

#links a {
    text-decoration: none;
    color: black;
    font-size: 2em;
    padding: 8px 2em;
    transition: color 0.3s;
}

#links a:hover {
    color: var(--orange);
}

.hero {
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.hero-image {
    display: flex;
    width: 100%;
    position: relative;
    z-index: -1;
}

.hero-text {
    font-family: 'Playball', sans-serif;
    font-style: italic;
    font-size: 4em;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 90%);
    background-color: var(--cream);
    width: 100%;
    opacity: 90%;
}

.computerImage {
    display: none;
}

.contact {
    display: inline-block;
    margin: 3em;
    background-color: var(--teal);
    border: solid black 2px;
    border-radius: 15px;
    padding: 5px 15px;
    font-family: 'Mona Sans', sans-serif;
    text-decoration: none;
    color: black;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 5px 5px 10px 2px gray;
}

.contact:hover {
    background-color: #85b3b3;
}

footer {
        text-align: center;
        font-family: 'Mona Sans', sans-serif;
        background-color: var(--orange);
        display: flex;
        padding: 30px 20px;
        gap: 30px;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 1.5em;
    }

    footer p {
        margin-top: 5px;
    }

    footer a {
        text-decoration: none;
        color: black;
    }

@media (max-width: 1200px) {

    html, body {
        overflow-x: clip;
        max-width: 100vw;
    }

    .navbar {
        overflow: hidden;
        display: block;
        background-color: var(--cream);
        z-index: 1000;
        width: 100%;
        opacity: 100%;
        position: static;
        justify-content: space-around;
        align-items: center;
        padding: 0;
    }

    .navbar a {
        padding: 14px 16px;
        text-decoration: none;
        font-size: 20px;
        display: block;
        color: black;
        text-align: center;
    }

    .navbar a.icon {
        display: block;
        position: absolute;
        right: 15px;
        top: 15px;
        color: black;
    }

    .navbar a:hover {
        color: black;
    }

    #links a.active {
        background-color: var(--orange);
        color: black;
    }
    
    .navbar #links {
        display: block;
        max-height: 0;
        overflow: hidden;
        background-color: var(--teal);
        transition: max-height 0.4s ease-out;
        color: white;
    }

    .navbar #links.open {
        max-height: 500px;
    }

    .navbar a.icon:active {
        transform: rotate(90deg);
        transition: .2s;
    }

    #hamburger-icon {
        width: 30px;
        height: 20px;
        position: relative;
        cursor: pointer;
        display: inline-block;
        overflow: visible;
    }

    #hamburger-icon span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: black;
        border-radius: 9px;
        transition: .25s ease-in-out;
        left: 0;
    }

    #hamburger-icon span:nth-child(1) {top: 0px;}
    #hamburger-icon span:nth-child(2) {top: 8px;}
    #hamburger-icon span:nth-child(3) {top: 16px;}

    #hamburger-icon.open span:nth-child(1) {
        top: 8px;
        transform: rotate(135deg);
      }
      
      #hamburger-icon.open span:nth-child(2) {
        opacity: 0;
      }
      
      #hamburger-icon.open span:nth-child(3) {
        top: 8px;
        transform: rotate(-135deg);
      }

    #links a {
        background-color: var(--teal);
        font-size: 2em;
        color: white;
    }

    body {
        margin: 0;
        padding: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-color: white;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
        font-family: 'Mona Sans', sans-serif;;
    }

    main {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .logo {
        display: none;
    }

    .logo-link {
        visibility: hidden;
    }

    .mobile-logo {
        display: flex;
        max-width: 100px;
    }

    .mobile-logo-link {
        display: flex;
        margin-top: -28px;
        max-width: 100px;
    }

    .hero-image {
        display: flex;
        max-width: 100%;
        position: static;
        z-index: -1;
    }

    .hero-text {
        text-align: center;
        margin: 0 15px;
        padding-bottom: 5px;
        border-radius: 15px;
        margin-top: 50px;
        position: static;
        background-color: transparent;
        top: auto;
        left: auto;
        transform: none;
        font-size: 35px;
        opacity: 100%;
        width: auto;
    }

    .computerImage {
        display: block;
        max-width: 100%;
        margin-top: 50px;
    }

    .mobile-title {
        display: block;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: var(--orange);
        margin-top: 0;
    }

    .info {
        margin: 3em;
        padding: 15px;
        font-family: 'Mona Sans', sans-serif;
    }

    .info h3 {
        margin-bottom: 50px;
    }

    .info p {
        font-size: 15px;
    }

    .info a {
        text-decoration: none;
    }

    .ourCost {
        font-weight: 900;
    }

    .statement {
        text-align: center;
        background-color: var(--orange);
        font-family: 'Nothing You Could Do', sans-serif;
    }

    .headshot {
        margin: 30px 20px;
        max-width: 70%;
    }

    .name {
        margin: 20px 15px;
        font-family: 'Mona Sans', sans-serif;
        font-size: 30px;
    }

    .bio {
        margin: 20px 30px;
        font-family: 'Mona Sans', sans-serif;
        text-align: center;
        font-size: 20px;
    }

    .cta {
        text-align: center;
        margin: 3em 0;
    }

    .cta p {
        margin-bottom: -1em;
        font-size: 30px;
    }

    .pricing {
        width: 80%;
        border-collapse: collapse;
        border: solid black 1px;
        margin-top: 2em;
    }

    .pricing td, th {
        border: solid black 1px;
        padding: 5px;
    }

    .disclaimer {
        margin-bottom: 2em;
    }

    .contact {
        display: block;
        margin: 3em;
        background-color: var(--teal);
        border: solid black 2px;
        border-radius: 15px;
        padding: 5px 15px;
        font-family: 'Mona Sans', sans-serif;
        text-decoration: none;
        color: white;
        text-align: center;
        cursor: pointer;
        transition: background-color 0.3s;
        align-content: center;
        box-shadow: 5px 5px 10px 2px gray;
    }

    .contact:hover {
        background-color: #85b3b3;
    }

    footer {
        text-align: center;
        font-family: 'Mona Sans', sans-serif;
        background-color: var(--orange);
        display: block;
        font-size: 1em;
        padding: 10px;
    }

    footer p {
        margin-top: 5px;
    }

    footer a {
        text-decoration: none;
        color: black;
    }
}

@media (min-width: 2500px) {
    #links a {
        font-size: 3em;
    }
}