* {
    margin: 0;
    padding: 0;
}

:root {
    --orange: #cb7c3a;
    --teal: #c0ffff;
    --cream: #F7F2D0;
}

.logo {
    max-width: 150px;
    margin-right: 2em;
}

.mobile-logo {
    display: none;
}

.mobile-title {
    display: none;
}

.navbar {
    display: flex;
    font-size: 1.5em;
    position: sticky;
}

.navbar a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

.hero-image {
    display: flex;
    max-width: 100%;
}

.hero-text {
    font-family: 'Playwrite CA', sans-serif;
    font-style: italic;
}

.computerImage {
    display: none;
}

.contact {
    display: inline-block;
    margin: 3em;
    background-color: var(--teal);
    border: solid black 2px;
    border-radius: 15px;
    padding: 5px 15px;
    font-family: 'Mona Sans', sans-serif;
    text-decoration: none;
    color: black;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact:hover {
    background-color: #85b3b3;
}

@media (max-width: 1000px) {

    html, body {
        overflow-x: clip;
        max-width: 100vw;
    }

    .navbar {
        overflow: hidden;
        display: block;
        background-color: var(--cream);
        z-index: 1000;
    }

    .navbar a {
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
        color: black;
        text-align: center;
    }

    .navbar a.icon {
        display: block;
        position: absolute;
        right: 15px;
        top: 15px;
        color: black;
    }

    .navbar a:hover {
        color: black;
    }

    #links a.active {
        background-color: var(--orange);
    }
    
    .navbar #links {
        display: block;
        max-height: 0;
        overflow: hidden;
        background-color: var(--teal);
        transition: max-height 0.4s ease-out;
    }

    .navbar #links.open {
        max-height: 500px;
    }

    .navbar a.icon:active {
        transform: rotate(90deg);
        transition: .2s;
    }

    #hamburger-icon {
        width: 30px;
        height: 20px;
        position: relative;
        cursor: pointer;
        display: inline-block;
    }

    #hamburger-icon span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: black;
        border-radius: 9px;
        transition: .25s ease-in-out;
        left: 0;
    }

    #hamburger-icon span:nth-child(1) {top: 0px;}
    #hamburger-icon span:nth-child(2) {top: 8px;}
    #hamburger-icon span:nth-child(3) {top: 16px;}

    #hamburger-icon.open span:nth-child(1) {
        top: 8px;
        transform: rotate(135deg);
      }
      
      #hamburger-icon.open span:nth-child(2) {
        opacity: 0;
      }
      
      #hamburger-icon.open span:nth-child(3) {
        top: 8px;
        transform: rotate(-135deg);
      }

    #links a {
        background-color: var(--teal);
    }

    body {
        margin: 0;
        padding: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-color: white;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
        font-family: 'Mona Sans', sans-serif;;
    }

    main {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .logo {
        display: none;
    }

    .logo-link {
        visibility: hidden;
    }

    .mobile-logo {
        display: flex;
        max-width: 100px;
    }

    .mobile-logo-link {
        display: flex;
        margin-top: -28px;
        max-width: 100px;
    }

    .hero-image {
        display: flex;
        max-width: 100%;
    }

    .hero-text {
        text-align: center;
        margin: 0 15px;
        padding-bottom: 5px;
        border-radius: 15px;
        margin-top: 50px;
    }

    .computerImage {
        display: block;
        max-width: 100%;
        margin-top: 50px;
    }

    .mobile-title {
        display: block;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: var(--orange);
        margin-top: 0;
    }

    .info {
        margin: 3em;
        padding: 15px;
        font-family: 'Mona Sans', sans-serif;
    }

    .info h3 {
        margin-bottom: 20px;
    }

    .info p {
        font-size: 15px;
    }

    .info a {
        text-decoration: none;
    }

    .ourCost {
        font-weight: 900;
    }

    .statement {
        text-align: center;
        background-color: var(--orange);
        font-family: 'Nothing You Could Do', sans-serif;
    }

    .headshot {
        margin: 30px 20px;
        max-width: 70%;
    }

    .name {
        margin: 20px 15px;
        font-family: 'Mona Sans', sans-serif;
        font-size: 30px;
    }

    .bio {
        margin: 20px 30px;
        font-family: 'Mona Sans', sans-serif;
        text-align: center;
        font-size: 20px;
    }

    .cta {
        text-align: center;
        margin-top: 1em;
    }

    .cta p {
        margin-bottom: -1em;
        font-size: 30px;
    }

    .pricing {
        width: 80%;
        border-collapse: collapse;
        border: solid black 1px;
        margin-top: 2em;
    }

    .pricing td, th {
        border: solid black 1px;
        padding: 5px;
    }

    .disclaimer {
        margin-bottom: 2em;
    }

    .contact {
        display: block;
        margin: 3em;
        background-color: var(--teal);
        border: solid black 2px;
        border-radius: 15px;
        padding: 5px 15px;
        font-family: 'Mona Sans', sans-serif;
        text-decoration: none;
        color: black;
        text-align: center;
        cursor: pointer;
        transition: background-color 0.3s;
        align-content: center;
    }

    .contact:hover {
        background-color: #85b3b3;
    }

    footer {
        text-align: center;
        font-family: 'Mona Sans', sans-serif;
        background-color: var(--orange);
    }

    footer p {
        margin-top: 5px;
    }

    footer a {
        text-decoration: none;
        color: black;
    }
}